<h1>Password Generator</h1>

<div>
  <label>Entrer Length</label>
  <input (input)="passwordLength = $any($event.target).value" type="number" />
</div>

<div>
  <label>Use Letters</label>
  <input (change)="useLetters = !useLetters" type="checkbox" />
</div>

<div>
  <label>Use Numbers</label>
  <input (change)="useNumbers = !useNumbers" type="checkbox" />
</div>

<div>
  <label>Use Symbols</label>
  <input (change)="useSymbols = !useSymbols" type="checkbox" />
</div>

<div>
  <button
    [disabled]="!(passwordLength && (useLetters || useNumbers || useSymbols))"
    (click)="onButtonClick()">
    Generate!
  </button>
</div>

<div>
  <label>Your Password</label>
  <input [value]="password" disabled="disabled" />
</div>
